.suscription-row-section {
    align-items: center;
    height: 5rem;
    background-color: #45526e;
    display: flex;
    justify-content: center;
}
.container-sub-button {
    height: 2.8rem;
    display: flex;
    justify-content: space-between;
    width: 15rem;
}
.suscription-button {
    border: none;
    border-radius: 0px;
    color: white;
}
.valorations {
    font-size: 12px;
}