.section-teacher-information {
    width: 85%;
    margin-top: 3rem;
    padding: 20px 15px;
    background-color: rgb(49, 49, 49);
    color: white;
    height: 50%;
}
.information-text {
    font-weight: bolder;
}