.card-class {
    width: 19%;
    margin: 0 0.5% 1.8rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
    h6 {
        font-size: 18px;
        text-align: left;
    }

    .class-teacher {
        font-size: 14px;
    }
    .quantity-valorations {
        font-size: 12px;
    }
    .price-class {
        font-weight: bold;
        color: black;
        margin: 0;
    }

    .icon-teacher {
        width: 25px;
        margin-right: 3px;
    }
}

@media (max-width: 1200px) {
    .card-class {
        width: 24%;
        margin: 0 0.5% 1.5rem;

        h6 {
            font-size:16px;
        }
    }
}

@media (max-width: 1000px) {
    .card-class {
        width: 32%;
        margin: 0 0.5% 1.3rem;

        h6 {
            font-size:16px;
        }
    }
}

@media (max-width: 780px) {
    .card-class {
        width: 49%;
        margin: 0 0.5% 1.1rem;
        h6 {
            font-size: 14px;
        }
    }
}